<!--
    ioBroker.vis treeview Widget-Set
    version: "0.0.1"
 
    Copyright 2019 nobodyMO markus@korporal.de
-->
<!-- here you can include so many css as you want -->
<link href="/lib/css/fancytree/ui.fancytree.min-win7.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="lib/js/jquery.fancytree-all.min.js"></script>
<!-- here you can include so many js-files as you want -->

<script id="tplTreeview"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/treeview/img/treeview.png">'
        data-vis-attrs="oid"		
        data-vis-set="treeview"
        data-vis-type="val" 
        data-vis-name="Treeview"
		data-vis-update-style="true"
		>
		<div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="width:<%=  this.data.attr('width') || 300 %>;height:<%=  this.data.attr('height') || 200 %>;border:1px solid #000000;overflow: auto"
		data-oid="<%=  this.data.attr('oid') %>"
		>
		<div class="treedata" style="width:100%;height:100%"></div>
<%		  		  
		vis.binds.treeview = {
			createWidget: function (widgetID, view, data, style) {     
				var fbobj=this;					
				var $div = $('#' + widgetID);
				// if nothing found => wait
				if (!$div.length) {
					return setTimeout(function () {fbobj.createWidget(widgetID, view, data, style)}, 100);
				}
				var $innerdiv=$div.find("div.treedata")
				//$div.find( "div.treedata" ).html(vis.states.attr(data.oid + '.val'));
				$innerdiv.fancytree({
					source:(typeof vis.states.attr(data.oid + '.val')=="string"?JSON.parse (vis.states.attr(data.oid + '.val')):vis.states.attr(data.oid + '.val')) 
				
				});
				if (data.oid) {
					vis.states.bind(data.oid + '.val', function (e, newVal, oldVal) {
						$innerdiv.fancytree("getTree").reload((typeof newVal=="string"?JSON.parse (newVal):newVal));
					});					
				}				
			}
		};
			
        vis.binds.treeview.createWidget(this.data.wid, this.view, this.data, this.style);						
%>		  
		</div>	
</script>
